<%- include("partials/header"); -%>
    <h1>Home</h1>


    <div class="topPic">
        <img class="myPic" src="images/akrash.jpg" lt="mypic ">
        <h4 class="landing-content">
            <%= startingContent %>
                <br> Welcome to my blog!
                <br> Have a look at all the exciting projects I have completed.
        </h4>

    </div>



    <div>
        <%  for(var i=0; i<posts.length; i++){ %>

            <h2>
                <%=posts[i].title%>
            </h2>
            <p>
                <%=String(posts[i].content).substring(0,100) + " ... "%>
                    <a href="/posts/<%=posts[i]._id%>">Read More</a>
            </p>

            <% } %>
    </div>

    <%- include("partials/footer"); -%>