<%- include("partials/header"); -%>

    <h2>
        <%=title%>
    </h2>
    <div class="postLines">
        <h5>
            <%=content%>
        </h5>
    </div>
    <a href=<%=simpleurl%>>
        <h5>Click here</h5>
    </a>

    <script async charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=e8efe96227323872e0b68e"></script>

    <a data-iframely-url href=<%=url%>>
        <%=url%>
    </a>


    <script src=<%=giturl%>
        >
    </script>

    <%- include("partials/footer"); -%>